<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Slice Of Tech</title>
    <link rel = "stylesheet" href = "styles.css">
  </head>

  <body>
    <h2>
        Slice Of Tech
    *********************
    </h2>
    <p> Penis 
        <html comment></html>
    </p>

    <h1> <a href="https://www.theodinproject.com/about"> This is where you can find more resources for these topics</a></h1>
    <img src = "https://th.bing.com/th/id/OIP.XhLu0b-kQaXNWpWuHvD-hgHaDd?pid=ImgDet&rs=1" >
    <ul>
        <li>Technology news </li>
        <li>Networking concepts</li>
        <li>Game Development</li>
        <li>Full stack Development </li>
    </ul>
    
  </body>
</html>
